* > * {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.center {
    display: grid;
    place-items: center;
}

.stack {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: min(40ch, 100%);
    margin: 0 auto;
    gap: 4rem;
}

.square {
    width: 2rem;
    aspect-ratio: 1 / 1;
}

.grid {
    display: grid;
    gap: 0.3rem;
}

.editor {
    display: grid;
    grid-template-rows: 1fr 2rem;
    grid-template-columns: 1fr 2rem;
    gap: 0.3rem;
}

.copy {
    margin-left: auto;
}

.columns {
    display: flex;
    gap: 0.3rem;
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 1rem;
}
